@model IEnumerable<MvcMusicStore.Models.Music>
    @{
        ViewBag.Title = "音乐商店";
    }

    <div class="content">
        <div class="content-music">
            <p class="content-title">歌曲</p>
            <table class="table">

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.ActionLink(@Html.DisplayFor(modelItem => item.MusicName).ToString(), "play", new { id = item.MusicID })
                        </td>
                        <td>
                            @Html.ActionLink("下载", "download" ) 
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
