<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>
</head>
<body>
    <header>header</header>
    <div> 
     @RenderBody()      @*被引用后,HTML内容写在这*@
    </div>
    <footer>footer</footer>
</body>
</html>
