@using WebApplication1.Models;
@model BuyerInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBuyerInfoView</title>
</head>
<body>
    <div>
        <p>购买者：@Model.Buyer</p>
    </div>
</body>
</html>
