@*@using WebApplication1.Models;*@
@using WebApplication1.ViewModels;
@model AllInfoViewModel
@*@model PhoneInfo*@
    
@{
    Layout = null;
    //People p = ViewBag.ren;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@Model.UserName</h1><hr />
        <h2>手机信息</h2>
        <p>手机名：@Model.PhoneName</p>
        <p>价格：@Model.PhonePrice</p>
        <p>级别：@Model.Rank</p><br />
        <h2>购买者信息</h2>
        <p>购买者姓名：@Model.Buyer</p>
    </div>
    @*<div> 
        手机名： @Model.PhoneName
        价格：@Model.PhonePrice
        购买者：@(p.Buyer)
    </div>*@
</body>
</html>
